<div>
  <p>Login : </p>
  <p class="to_fill" id="login_account"></p>
</div>
<br>
<div>
  <p>First Name : </p>
  <p class="to_fill" id="fname_account"></p>
</div>
<br>
<div>
  <p>Last Name : </p>
  <p class="to_fill" id="lname_account"></p>
</div>
<br>
<div>
  <p>Birthday : </p>
  <p class="to_fill" id="birthday_account"></p>
</div>
<br>
<div>
  <p>Email : </p>
  <p class="to_fill" id="email_account"></p>
</div>
<br>
<div>
  <p>Country : </p>
  <p class="to_fill" id="country_account"></p>
</div>
<br>
<div>
  <a class="to_fill" routerLink="/editUser">Edit Account</a>
</div>
