ul{
  position:relative;
  left : -100px;
}
#avatar{
  position: relative;
  left:-6vw;
}

.undline{
  color:#aeaeae;
  font-weight: bold;
}

#rightdiv{
  position:relative;
  left:30px;
}

#settings{
  margin-top: 20px;
}
#editbutton{
  margin: 20px;
  position:relative;
  left:10vw;
}
