<div class="chatContainer">
    <div class="chatTitleContainer">Comments</div>
	<div class="chatHistoryContainer">

        <ul class="formComments">
			<li *ngFor="let msg of messages" class="commentLi commentstep-1" data-commentid="4">
				<table class="form-comments-table">
					<tr>
                        <td>
                            <div class="comment-avatar">
                                <img [src]="urlImg" *ngIf="urlImg">
                            </div>
                        </td>
                        <td><div class="comment-user">{{msg .gamblerLogin}}</div></td>
						<td><div class="comment-timestamp">{{msg.messageDate.$date | date:'medium'}}</div></td>
						
						<td>
							<div id="comment-4" data-commentid="4" class="comment comment-step1">
                                <span style="white-space: pre-line">{{msg.text | decodeURIPipe}}</span>
                            </div>
                            <button *ngIf="isAuthor(msg)" type="button" class="btn btn-danger btn-sm" (click)="delete(msg)">Delete</button>
						</td>
					</tr>
                </table>
            </li> 
            <i *ngIf="loading" class="fa fa-spinner fa-spin"></i>
        </ul>
	</div>
    
    <form class="input-group input-group-sm chatMessageControls">
        <input type="text" class="form-control" placeholder="Enter a message.." aria-describedby="sizing-addon3"  [formControl]="textInput">    
        <span class="input-group-btn">
            <button id="clearMessageButton" class="btn btn-default" type="button" (click)="clearInput()">Clear</button>
            <button id="sendMessageButton" class="btn" type="submit" (click)="sendMessage()" ><i class="fa fa-send"></i>Send</button>
        </span>
    </form>
</div>