nav{
  text-align: center;
  padding-top:30px;
}
nav a, app-logout{
  color: #ffffff;
}
nav a:hover, app-logout:hover{
  font-weight: bold;
  text-decoration: none;
}
header{
  top:0px;
  text-align:center;
  height: 70px;
  right:0px;
  left:0px;
  position:fixed;
  display:inline-flex;
  padding: 5px;
  z-index:500;
  background-color: #3c474b ;
}
header h1{
  padding-top: 7px;
  color:white;
  font-size: 3vw;
  font-family: sans-serif ;
}
#logo{
  position:absolute;
  top:0px;
  left:45vw;
  width:120px;
  height:80px;
  outline-style:none;
  cursor:pointer;
}
#sidebar{
  position:fixed;
  height:inherit;
  width: 200px;
  background-color: #3c474b;
  -webkit-transition: all .3s ease-in;
  transition: all .3s ease-in;
  z-index: 500;
}

#app-body{
  padding:15px;
  height:fit-content;
}
#routeur{
  width: fit-content;
  position:relative;
  margin-left: auto;
  margin-right: auto;
  padding:15px;
}
#routeur{
  width: fit-content;
}

#main{
  margin-top: 70px;
  height:calc(100vh - 55px);
  width:100%;
}
#log-div{
  display: inline-flex;
  right: 20px;
  padding-top:13px;
  position: absolute;
}
#log-div a{
  color: #ffffff;
}
#log-div a:hover{
  color: #ffffff;
  font-weight: bold;
  text-decoration: none;
}
#log-div p{
  color: #ffffff;
}
#in-sub a{
  position:relative;
  margin-left:20px;
}
#out-ed a{
  margin-left:20px;
}
#out-ed i{
  right:-50px;
  color: white;
}
#solde{
  color: #ffffff;
  position:fixed;
  right:17vw;
}
#panel{
  position:relative;
  color: white;
  padding:13px;
  left:15px;
}


