nav{
  text-align: center;
  padding-top:30px;
}
nav a{
  color: #ffffff;
}
nav a:hover{
  font-weight: bold;
  text-decoration: none;
}
header{
  top:0px;
  text-align:center;
  height: 70px;
  right:0px;
  left:0px;
  position:fixed;
  display:inline-flex;
  padding: 5px;
  z-index:500;
  background-color: #020f45;
}
header h1{
  padding-top: 7px;
  color:white;
}

#sidebar{
  position:fixed;
  height:inherit;
  width: 200px;
  background-color: #0a0656;
  -webkit-transition: all .3s ease-in;
  transition: all .3s ease-in;
  z-index: 500;
}
#logo{
  width: 60px;
}
#app-body{
  padding:15px;
  height:fit-content;
}
#routeur{
  width: fit-content;
  position:relative;
  margin-left: auto;
  margin-right: auto;
  padding:15px;
}
#routeur{
  width: fit-content;

}
#main{
  margin-top: 70px;
  height:calc(100vh - 55px);
  width:100%;
}
#log-div{
  display: inline-flex;
  right: 20px;
  padding-top:13px;
  position: absolute;
}
#log-div a{
  color: #ffffff;
}
#log-div a:hover{
  color: #ffffff;
  font-weight: bold;
  text-decoration: none;
}
#log-div p{
  color: #ffffff;
}
#in-sub a{
  position:relative;
  padding-left:20px;
}
#out-ed a{
  position:relative;
  padding-left:20px;
}
#opening {
  position: absolute;
  height: 30px;
  width: 30px;
  background-color: #0a0656;
  left: 200px;
  top: 0px;
  border-radius: 0 0 10px 0;
  z-index: 1000;
}
#opening img{
  padding:5px;
  height: 30px;
  width: 30px;
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg) ;
  -ms-transform: rotate(180deg) ;
  -webkit-transition: all .3s ease-in;
  transition: all .3s ease-in;
}


