* {
  margin-left: auto;
  margin-right: auto;
}

canvas {
  height: 60vh;
  width: 40vw; 
  /* width: 90vh */
}

#tab_value {
  max-width: 90vw;
  padding-top: 30px;

}

#chart {
  display: inline-block;
  text-align: center;
}

#form_affich {
  padding-top: 30px;
  width: fit-content;
}

#form_affich form{
  display: inline-flex;
}

#button_affich{
  margin-left: 20px;
  height: 30px;
  padding:3px;
  background-color: #c33c54;
  color:#f9ebe0;
}
