<div *ngIf="msgErr">
  <strong>Oups!</strong>{{msgErr}}
  <button class="btn btn-primary" (click)="fillChart(3)">Reset</button>
</div>

<div *ngIf="isLoading">
  <i class="fas fa-spin fa-circle-notch fa-3x"></i>
</div>
  <div *ngIf="!msgErr && !isLoading" id="chart">
    <canvas baseChart *ngIf="lineChartData.length>0"
            [datasets]="lineChartData"
            [labels]="lineChartLabels"
            [options]="lineChartOptions"
            [colors]="lineChartColors"
            [legend]="lineChartLegend"
            [chartType]="lineChartType"
            (chartHover)="chartHovered($event)"
            (chartClick)="chartClicked($event)"></canvas>
    <div *ngIf="enableSelectCurrency" class="form-group">
        <label for="currencySelect">Change crypto-currency</label>
        <select *ngIf="currency" class="form-control" (change)="updateCurrency($event.target.value)" id="currencySelect"  [value]="currency" [(ngModel)]="currency">
            <option *ngFor="let curr of currencyList"  [value]="curr.val" >{{curr.name}}</option>
        </select>
    </div>

    <div *ngIf="enableChangeInterval" id="form_affich">
      <p>Choose an interval (It has to be at most an interval of 33 hours)</p>
      <form [formGroup]="intervalForm" (ngSubmit)="changeInterval()">
        <p>From </p>
        <div class="form-group">
          <input formControlName="fromDate" type="date" required>
          <input formControlName="fromTime" type="time" required>
        </div>
        <p style="padding-left: 50px">To </p>
        <div class="form-group">
          <input formControlName="toDate" type="date" required>
          <input formControlName="toTime" type="time" required>
        </div>
        <button *ngIf="!isLoading" id="button_affich" [disabled]="!intervalForm.valid" type="submit" class="btn">Change inteval</button>
      </form>
    </div>
  </div>
