<div *ngIf="msgErr">
  <strong>Oups!</strong>{{msgErr}}
  <button class="btn btn-primary" (click)="fillChart(3)">Reset</button>
</div>

  <div *ngIf="!msgErr" id="chart">
    <canvas baseChart *ngIf="lineChartData.length>0"
            [datasets]="lineChartData"
            [labels]="lineChartLabels"
            [options]="lineChartOptions"
            [colors]="lineChartColors"
            [legend]="lineChartLegend"
            [chartType]="lineChartType"
            (chartHover)="chartHovered($event)"
            (chartClick)="chartClicked($event)"></canvas>
    <div id="form_affich">
      <p>Afficher un intervalle</p>
      <form [formGroup]="intervalForm" (ngSubmit)="changeInterval()">
        <p>Depuis</p>
        <div class="form-group">
          <input formControlName="fromDate" type="date" required>
          <input formControlName="fromTime" type="time" required>
        </div>
        <p style="padding-left: 50px">Jusqu'à</p>
        <div class="form-group">
          <input formControlName="toDate" type="date" required>
          <input formControlName="toTime" type="time" required>
        </div>
        <button *ngIf="!isLoading" id="button_affich" [disabled]="!intervalForm.valid" type="submit" class="btn btn-primary">Changer l'intervalle</button>
        <i *ngIf="isLoading" class="fas fa-spin fa-circle-notch"></i>

      </form>
    </div>
  </div>
  <!-- <div id="tab_value">
    <table class="table table-responsive table-condensed">
      <tr>
        <th *ngFor="let label of lineChartLabels">{{label}}</th>
      </tr>
      <tr *ngFor="let d of lineChartData">
        <td *ngFor="let label of lineChartLabels; let j=index">{{d && d.data[j]}}</td>
      </tr>
    </table>
  </div> -->
