{{result}}
<!-- <div *ngFor="let bet of myBets" class="card border-light mb-3" style="max-width: 18rem;" >>
	<div class="card-body">
	  <h5 class="card-title" routerLink="/poolDetail/{{bet.idBetPool}}">Pool n°:{{bet.idBetPool}}</h5>
	  <p class="card-text">Amount bet : {{bet.betAmount}}</p>
    <p class="card-text">Pronostic {{bet.betValue}}</p>
		<p class="card-text">Bet done the {{bet.betDate}}</p>
		<div *ngIf="bet.resultAvailable">
			<button (click)="retrieve(bet)" class="btn btn-primary">See Result </button>
		</div>

	</div>
</div> -->


<h1>Liste de mes paris</h1>

<i *ngIf="!myBets" class="fas fa-spin fa-circle-notch"></i>
<div class="row">
	<div *ngFor="let bet of myBets" routerLink="/poolDetail/{{bet.idBetPool}}" style="cursor: pointer;">
			<div class="card">
					<div class="box">
							<h5 class="card-title">Id : {{bet.idBetPool}}</h5>
							<p class="card-text">Amount bet : {{bet.betAmount}}€</p>
							<p class="card-text">Pronostic : {{bet.betValue}}€</p>
							<p class="card-text">Bet done the {{bet.betDate}}</p>
					</div>
				</div>
	</div>
</div>
<h1 *ngIf="!myBets.length">Aucun pari fait</h1>
