*{
  display:block;
  margin-left: auto;
  margin-right: auto;
}
label{
  position:relative;
  text-align: center;
  font-weight: bold;
}
input{
  text-align: center;
}
h1{
  text-align: center;
}

button[type=submit] {
  background-color: #c33c54;
  color:#f9ebe0;
}